button {
    background-color: #fff;
    border: none;
    outline-offset: none;
}
.primary-button {
    cursor: pointer;
    padding: 1em;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color: #7F3DFF;
}
.secondary-button {
    cursor: pointer;
    padding: 1em;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    line-height: 22px;
    color: #7F3DFF;
    background-color: #EEE5FF;
}

.ghost-button {
    cursor: pointer;
    padding: 1em;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #E3E5E5;
    color: #000;
}