button {
    background-color: #fff ;
    border: none ;
    outline-offset: none ;
    padding: 0;
}
.primary-button {
    cursor: pointer;
    padding: 17px;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color: #7F3DFF;
    
}
.primary-button_big {
    width: -webkit-fill-available;
}
.secondary-button {
    cursor: pointer;
    padding: 17px;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    line-height: 22px;
    color: #7F3DFF;
    background-color: #EEE5FF;
}

.ghost-button {
    cursor: pointer;
    padding: 16px;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #E3E5E5;
    color: #000;
}
.icon-button {
    padding: 0.4em;
    width: 2em;
    height: 2em;
}
.icon-button__icon {
    width: 1.2em;
    height: 1.2em;
}