.active {
  color: #4caf50 !important;
}
.item {
  color: #3635354f;
  font-size: 2em;
}
.menu {
  background-color: #ffff;
  border-top-left-radius: 1.4em;
  border-top-right-radius: 1.4em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0px 0px 20px 0px #3635354f;
}