.transactions {
    display: flex;
    flex-direction: column;
    padding-bottom: 7vh;
}
.transactions__header {
    margin: 0.75em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.transactions__report {
    margin: 0.5em 1em;
}
.transactions__button {
    width: max-content;
    align-self: center;
    margin-bottom: 1em;
}
.icon-btn {
    border-radius: 0.25em;
    border: 1px solid #F1F1FA;
}

.info-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #EEE5FF;
    color: #7F3DFF;
    padding: 0.90625em 1em;
    border-radius: 0.5em;
    border: 1px solid #7F3DFF;
}
.info-btn__icon {
    font-size: 25px;
}
.day-section {
    display: flex;
    flex-direction: column;
}
.day-section__header {
    margin: 0.45em;
    padding: 0.45em;
    font-size: 18px;
    font-weight: 600;
}



