.accounts {
    display: flex;
    flex-direction: column;
    min-height: 93vh;
}
.accounts__nav {
    color: #000;
    background-color: #FFF;
}

.accounts__balance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balance__subtitle {
    margin-top: 2.285em;
    font-size: 14px;
    font-weight: 500;
    color: #91919F;
}

.balance__title {
    margin: 0.5em 0 1em 0;
    font-size: 40px;
    font-weight: 600;
    color: #161719;
}

.accounts__list {
    display: flex;
    flex-direction: column;
}
.accounts__button {
    margin: 3em 1em 1.5em 1em;
    text-align: center;
}
menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-font-smoothing: none;
}

.wallet {
    text-decoration-line: none;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #E3E5E5;
}

.wallet__icon {
    padding: 0.5em;
    width: 1.625em;
    height: 1.625em;
    border-radius: 1em;
    flex-shrink: 0;
}

.wallet__name {
    font-size: 18px;
    margin-left: 0.45em;
    color: #000;
    font-weight: 600;

}

.wallet__balance {
    color: 18px;
    font-weight: 600;
    margin-left: auto;
    color: #000;
}