.transaction {
  margin: 0.5em 1em;
  background-color: #FCFCFC;
  padding: 0.9375em 1.0625em;
  border-radius: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.transaction__icon {
  width: 2.5em;
  height: 2.5em;
  background-color: #FCEED4;
  border-radius: 16px;
  padding: 0.5em;
  color: #FCAC12;

}


.transaction__subtitle {
  font-size: 13px;
  line-height: 16px;
  color: #91919F;
}

.content__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.error-icon {
  color: #FD3C4A;
  background-color: #fd3c4a52;
}